.iconCircleButton {
	position: relative;
}

.iconCircleButton i {
	padding: 4px;	
	border:  2px solid rgbA(0, 0, 0, 0);
	border-radius: 1000px;
	/*transition: opacity .25s ease;*/
	/*opacity: 1;*/
}

.iconCircleButton:hover i {
  opacity: 1 !important;
}

.iconCircleButton i.iconButtonRing {
	border:  2px solid;
}

.iconCircleButton .callout {
	position:  absolute;

	/*transform: translateX(-50%);*/
	transform-origin: 50% 100%;

	top: -24px;
	left:  50%;
}

.iconCircleButton .calloutText {
	position:  absolute;
	height:  24px;
	bottom: -16px;
	left:  50%;
	transform: translateX(-50%);
	background: white;
	color:  black;
	text-align: center;
	padding: .25rem 12px;
	border-radius: 1000px;

	white-space:  nowrap;
	/*white-space:  normal;*/
	/*word-break: break-all;*/
	/*width:  max-content;*/
	max-width: 320px;
	text-overflow: ellipsis;
	overflow: hidden;

	font-size: .75rem;
	text-transform: capitalize;
	letter-spacing: .5px;
}

.iconCircleButton .pivot {
	position:  absolute;
	text-align: center;
	top: 8px;
	left:  50%;
	background: white;
	width:  12px;
	height:  12px;
	rotate:  45deg;
	transform: translateX(-50%) rotate(45deg);
	z-index: -1;
}